In [3]:
name = "salma";
GPA = 3.5;
print(type(name));
print(type(GPA));
print(name);
print(GPA);

<class 'str'>
<class 'float'>
salma
3.5

In [8]:
x = 10
y = (2*x+3) + (9-5*x) - (x/3)

In [9]:
y

-21.333333333333332

In [11]:
x = 0
y = (2*x+3) + (9-5*x) - (x/3)

In [12]:
y

12.0

In [14]:
x = -10
y = (2*x+3) + (9-5*x) - (x/3)

In [15]:
y

45.333333333333336

In [18]:
var = """my name is salma
age 21
live in benha"""

In [19]:
print(var)

my name is salma
age 21
live in benha

In [20]:
num = 21
name = "salma"
print("my name is {} and my age is {}".format(name,num))

my name is salma and my age is 21

In [21]:
print("my name is {one} and my age is {two}".format(one = name,two = num))

my name is salma and my age is 21

In [22]:
print(f'my name is {name} and my age is {num}')

my name is salma and my age is 21

In [25]:
value = '10'
print(value)
print(type(value))

10
<class 'str'>

In [26]:
print(int(value))
print(type(int(value)))

10
<class 'int'>

In [27]:
print(float(value))

10.0

In [37]:
list = [25, 'Hello', 'c']
print(list)
list.append('d')
print(list)
list.pop()
print(list)
list.insert(2,'e')
print(list)
list.pop(0)
print(list)

[25, 'Hello', 'c']
[25, 'Hello', 'c', 'd']
[25, 'Hello', 'c']
[25, 'Hello', 'e', 'c']
['Hello', 'e', 'c']

In [47]:
d = {'name':'salma','age':'21','gpa':'3.3','location':'benha'}
print(d)
print(d['name'])
print(d['age'])
print(d.keys())
print(d.values())
print(d.items())
print(d.get('name'))
print(d.get('age'))

{'name': 'salma', 'age': '21', 'gpa': '3.3', 'location': 'benha'}
salma
21
dict_keys(['name', 'age', 'gpa', 'location'])
dict_values(['salma', '21', '3.3', 'benha'])
dict_items([('name', 'salma'), ('age', '21'), ('gpa', '3.3'), ('location', 'benha')])
salma
21

In [48]:
set_ = set([2, 4, 5, 6, 2, 3, 4])
print(set_)

{2, 3, 4, 5, 6}

In [50]:
(1 > 2) and (2 < 3)

False

In [52]:
(2 != 3) or (1 == 1)

True

In [54]:
if 1 < 2:
  print("Yep!")
else:
  print("Null!")

Yep!

In [55]:
if 5 in [1, 2, 3, 4, 5]:
  print("Yes!")

Yes!

In [56]:
num = 9
if num > 0:
  print("Positive number")
elif num == 0:
  print("Zero")
else:
  print("Negative number")

Positive number

In [60]:
if num % 2 == 0:
  print("Even number")
  if num <= 10:
    print("Even number greater than 10")
else:
  print("Odd number")

Odd number

In [3]:
for i in range (5):
  pass
  print(i)
'''
pass -> do nothing (write it to write anything at any time without using it empty)
'''

0
1
2
3
4

'\npass -> do nothing (write it to write anything at any time without using it empty)\n'

In [12]:
list = []
for i in range(5):
  list.append(i)
  print(i)

0
1
2
3
4

In [14]:
for item in range(5):
  print(item**2)

0
1
4
9
16

In [21]:
list_ = []
for i in range(4):
  for j in range(2):
    list_.append(i)
print(list_)

[0, 0, 1, 1, 2, 2, 3, 3]

In [22]:
list_ = []
for i in range(2):
  for j in range(4):
    list_.append(i)
print(list_)

[0, 0, 0, 0, 1, 1, 1, 1]

In [34]:
# [[[1,2], [1,2], [1,2], [1,2]]]
l = []
for i in range(2):
  l1 = []
  for j in range(2):
    l2 = []
    for k in range(2):
      l2.append(k)
    l1.append(l2)
l.append(l1)
print(l)

[[[0, 1], [0, 1]]]

In [40]:
d = {'name':'salma','age':'21','gpa':'3.3','location':'benha'}
for k, v in d.items():
  print(k,":", v)

name : salma
age : 21
gpa : 3.3
location : benha

In [45]:
from tqdm import tqdm
import time
for i in tqdm(range(100)):
  print(i)
  time.sleep(0.01)

 10%|█         | 10/100 [00:00<00:00, 97.15it/s]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

 30%|███       | 30/100 [00:00<00:00, 95.56it/s]

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

 50%|█████     | 50/100 [00:00<00:00, 95.93it/s]

40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

 70%|███████   | 70/100 [00:00<00:00, 96.20it/s]

60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79

 90%|█████████ | 90/100 [00:00<00:00, 96.27it/s]

80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

100%|██████████| 100/100 [00:01<00:00, 96.05it/s]

In [44]:
from tqdm import tqdm
import time
for i in tqdm(range(20)):
  print(i)
  time.sleep(1)

  0%|          | 0/20 [00:00<?, ?it/s]

0

  5%|▌         | 1/20 [00:01<00:19,  1.00s/it]

1

 10%|█         | 2/20 [00:02<00:18,  1.00s/it]

2

 15%|█▌        | 3/20 [00:03<00:17,  1.00s/it]

3

 20%|██        | 4/20 [00:04<00:16,  1.00s/it]

4

 25%|██▌       | 5/20 [00:05<00:15,  1.00s/it]

5

 30%|███       | 6/20 [00:06<00:14,  1.00s/it]

6

 35%|███▌      | 7/20 [00:07<00:13,  1.00s/it]

7

 40%|████      | 8/20 [00:08<00:12,  1.00s/it]

8

 45%|████▌     | 9/20 [00:09<00:11,  1.00s/it]

9

 50%|█████     | 10/20 [00:10<00:10,  1.00s/it]

10

 55%|█████▌    | 11/20 [00:11<00:09,  1.00s/it]

11

 60%|██████    | 12/20 [00:12<00:08,  1.00s/it]

12

 65%|██████▌   | 13/20 [00:13<00:07,  1.00s/it]

13

 70%|███████   | 14/20 [00:14<00:06,  1.00s/it]

14

 75%|███████▌  | 15/20 [00:15<00:05,  1.00s/it]

15

 80%|████████  | 16/20 [00:16<00:04,  1.00s/it]

16

 85%|████████▌ | 17/20 [00:17<00:03,  1.00s/it]

17

 90%|█████████ | 18/20 [00:18<00:02,  1.00s/it]

18

 95%|█████████▌| 19/20 [00:19<00:01,  1.00s/it]

19

100%|██████████| 20/20 [00:20<00:00,  1.00s/it]

In [46]:
namee = "Salma Ahmed"
R = namee.split()
print(R)
namee.find('a')

['Salma', 'Ahmed']

1