In [11]:
a = []
for i in range(5):
    num = int(input("enter a number: "))
    a.append(num)
print(a)

enter a number: 1
enter a number: 2
enter a number: 3
enter a number: 4
enter a number: 5
[1, 2, 3, 4, 5]

In [48]:
alpha = str(input("enter a character: "))
if alpha == "A" or alpha == "E" or alpha == "I" or alpha == "O" or alpha == "U":
    alpha.lower()
    print("vowel")

else:
    if alpha == "a" or alpha == "e" or alpha == "i" or alpha == "o" or alpha == "u":
        print("vowel")
    else:
        print("consonant")

enter a character: S
consonant

In [44]:
str_ = str(input("enter a string: "))
str_ = str_[::-1]
print(str_)

enter a string: salma
amlas

In [52]:
str__ = str(input("enter a string: "))
str1_ = str_[:len(str_)//2]
str2_ = str_[len(str_)//2:]
print(str1_)
print(str2_)

enter a string: SalmaSalma
Salma
Salma

In [59]:
def Mult(num, string): # define the function 'Mult'
    print(num*string)

Mult(2, " Salma Ahmed") # call the function 'Mult'

 Salma Ahmed Salma Ahmed

# **count freq of words appearing in str using dictionary**

In [79]:
str_ = str(input("enter a string: "))
str_ = str_.split()
print(str_)
dict = {}
for i in str_:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
print(dict)

enter a string: salma ahmed abdulkader
['salma', 'ahmed', 'abdulkader']
{'salma': 1, 'ahmed': 1, 'abdulkader': 1}

# **when number of args of function unknown**

In [81]:
def printAll(*args):
    print(args)
    print(len(args))
    print(type(args))
    print(list(args))

printAll()
print("\n---------------------------\n")
printAll(1,2,3,4,5,6,7,8,9,10)

()
0
<class 'tuple'>
[]

---------------------------

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [83]:
def printAll(**args):
    print(args)
    print(len(args))
    print(type(args))
    print(list(args))
    for key in args:
        print(key, " : ", args[key])
printAll()
print("\n---------------------------\n")
printAll(name = "Salma", age = 20, gender = "female")

{}
0
<class 'dict'>
[]

---------------------------

{'name': 'Salma', 'age': 20, 'gender': 'female'}
3
<class 'dict'>
['name', 'age', 'gender']
name  :  Salma
age  :  20
gender  :  female

In [92]:
def printAll(*args):
    print(args)
    print(len(args))
    print(type(args))
    print(list(args))
    sum = 0
    if len(args) != 0:
        for i in args:
            sum += i
        print(sum/len(args))
printAll()
print("\n---------------------------\n")
printAll(1,2,3,4,5,6,7,8,9,10)

()
0
<class 'tuple'>
[]

---------------------------

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
10
<class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5.5